.header-container {
    position: sticky;
    top: 0;
    z-index: 5;
}

.logo-img {
    height: 50px;
    width: 50px;
    margin-left: 4px;
}

.logOut_btn {
    border-radius: 15px;
    padding: 5px 10px;
}

.logOut_btn:hover {
    background-color: rgb(240, 209, 38);
}

.logIn_btn {
    border-radius: 15px;
    padding: 5px 10px;
}

.logIn_btn:hover {
    background-color: rgb(240, 209, 38);
}

.user-photo {
    background: transparent;
    border: none;
}

.user-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}