.header-container {
    position: sticky;
    top: 0;
    z-index: 5;
}

.logo-img {
    height: 50px;
    width: 50px;
    margin-left: 4px;
}

.dark-button {
    background-color: #777373;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    border: none;
    margin-right: 5px;
    padding: 5px 10px;
}

.user-photo {
    background: transparent;
    border: none;
}

.user-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}