.carousel-caption {
    padding-bottom: 15.25rem;
}

.home-container {
    background-color: rgb(245, 201, 201);
}

@media only screen and (min-width: 768px) {
    .home-container {
        background-color: rgb(212, 36, 36);
    }
}