body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-title {
  color: rgb(240, 38, 115);
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.section-subtitle {
  color: rgb(240, 209, 38);
  font-size: 23px;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-subtitle {
  color: #2789eb;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-minititle {
  color: #36e6f3;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-desc {
  color: #0a040a;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.section-fancyText {
  color: #3c556e;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3em;
  font-family: 'Playfair Display', serif;
}